{% extends 'countries/base.html' %}
{% load static %}

{% block header_title %}
    <title>{{ obj.user.first_name }}'s Dashboard</title>
{% endblock %}

{% block main_block %}
    <div class="row container white">
        <div class="container">
            <table>
                <thead>
                    <th>Sl. no</th>
                    <th>Name of Country</th>
                </thead>
                <tbody>
                    {% for country in country_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <th><a href="{% url 'countries:country_info' country.name %}">{{ country.name }}</a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}